{% extends "accounts/layouts/main.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active card-img-overlay">
      <img src="{% static "images/S3.jpeg" %}" height="500px" width="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption center d-none d-md-block">
        <h2>Welcome to the Homepage!</h2>
        {% if user.is_authenticated %}
          <p>Hello, {{ request.user.username }}!</p>
        {% else %}
          <p>You are not logged in.</p>
        {% endif %}
      </div>
    </div>
    <div class="carousel-item active card-img-overlay">
      <img src="{% static "images/S5.jpeg" %}" height="500px" width="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to the Homepage!</h2>
        {% if user.is_authenticated %}
          <p>Hello, {{ request.user.username }}!</p>
        {% else %}
          <p>You are not logged in.</p>
        {% endif %}
      </div>
    </div>
    <div class="carousel-item active card-img-overlay">
      <img src={% static "images/S11.jpg" %} height="500px" width="500px" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Welcome to the Homepage!</h2>
          {% if user.is_authenticated %}
            <p>Hello, {{ request.user.username }}!</p>
          {% else %}
            <p>You are not logged in.</p>
          {% endif %}
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endblock content %}

    

